<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/style.css}" rel="stylesheet" crossorigin="anonymous">
    <link th:href="@{/bootstrap-social.css}" rel="stylesheet">
    <title>О путешествиях</title>
</head>
<body>

<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-lg">
            <a class="navbar-brand">
                SalesAvia
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Поиск маршрутов</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">О путешествиях</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container-lg">
        <div class="cards">
            <div th:each="article: ${articles}" class="card row">
                <div class="col-4 image-col">
                    <div class="image-wrapper">
                        <img th:src="${article.getImageUrl()}" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <h2 th:text="${article.getTitle()}"></h2>
                    <p th:text="${article.getShortDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container-lg bg-light rounded-top mt-5">
        <div class="row align-items-end">
            <div class="col-4">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="" class="nav-link">Главная</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Поиск маршрутов</a></li>
                        <li class="nav-item"><a href="" class="nav-link">О путешествиях</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-5">
                <!-- empty -->
            </div>
            <div class="col-3">
                <a class="btn btn-social-icon btn-vk column">
                    <span class="fa fa-vk"></span>
                </a>
                <a class="btn btn-social-icon btn-odnoklassniki">
                    <span class="fa fa-odnoklassniki"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>